<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="returnToMap()"></button>
  </div>
  <h1 class="title">Edit Places</h1>
</ion-header-bar>

<ion-content class="has-header" overflow-scroll="true">
	<ion-list>
		<div ng-repeat="thing in list">
			<ion-item class="item-stable" ng-click="toggleGroup(thing)" ng-class="{active: isGroupShown(thing)}" can-swipe="listCanSwipe">
				<div>
					<i class="icon" ng-class="isGroupShown(thing) ? 'ion-minus' : 'ion-plus'" can-swipe="listCanSwipe"></i>
					{{thing.name}}
					<i id="slideIcon" class="icon-right ion-chevron-left"></i>
				</div>
				<ion-option-button class="button-assertive" ng-click="deleteGroup(thing)">Delete</ion-option-button>
			</ion-item>
			<ion-item class="item-accordion item-text-wrap" ng-repeat="item in thing.items" ng-show="isGroupShown(thing)" can-swipe="listCanSwipe">
				<div>
					{{item.name}}
					<i id="slideIcon" class="icon-right ion-chevron-left"></i>
				 </div>
				<ion-option-button class="button-positive" ng-click="edit(item)">Edit</ion-option-button>
				<ion-option-button class="button-assertive" ng-click="delete(item)">Delete</ion-option-button>
			</ion-item>
		</div>
	</ion-list>
</ion-content>

