<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Group
    </div>
    <select ng-init="data.selectedGroup = 'All'" ng-model="data.selectedGroup" ng-options="item for item in group" ng-change="getTypesForGroup(data.selectedGroup)">
      <option></option>
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Type
    </div>
    <select  ng-init="data.selectedType = 'All'" ng-model="data.selectedType" ng-options="item for item in type">
      <option></option>
    </select>
  </label>

</div>