<ion-view ng-show="map">
  <ion-side-menus enable-menu-with-back-views="true">

      <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
          <h1 class="title ng-cloak">Tripommendation</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="true">
          <ion-list class="ng-cloak">
            <ion-item ng-repeat="task in tasks" ng-click="getFunctions({{task}})">
            {{task.title}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>

    <!--Center content-->
    <ion-side-menu-content>
      <div id="map"></div>
      <div id="search-bar">
          <button id="button" menu-toggle="left" class="button icon ion-navicon-round"></button>
          <input id="pac-input" class="controls" type="text" placeholder="Search map to add place">
          <button id="closeButton" class="button icon ion-close-round" ng-click="emptySearch()"></button>
      </div>
    </ion-side-menu-content>

  </ion-side-menus>
</ion-view>