<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="returnToMap()"></button>
  </div>
  <h1 class="title">All Places</h1>
</ion-header-bar>

<ion-content class="has-header" overflow-scroll="true">
  <ion-list>
    <div ng-repeat="thing in list">
      <ion-item class="item-stable" ng-click="toggleGroup(thing)" ng-class="{active: isGroupShown(thing)}">
        <i class="icon" ng-class="isGroupShown(thing) ? 'ion-minus' : 'ion-plus'"></i>
        {{thing.name}}
      </ion-item>

      <div ng-repeat="(key, value) in thing" ng-if="key !='name'" id="offlineType">
        <ion-item class="item-accordion" ng-show="isGroupShown(thing)" ng-click="toggleType(key)">
          <i class="icon" ng-class="isTypeShown(key) ? 'ion-minus' : 'ion-plus'"></i>
          {{key}}
        </ion-item>

        <div ng-repeat="place in value" id="offlinePlace">
          <ion-item class="item-accordion" ng-show="isTypeAndGroup(key, thing)" ng-click="togglePlace(place)">
            <i class="icon" ng-class="isPlaceShown(place) ? 'ion-minus' : 'ion-plus'"></i>
            {{place.name}}
          </ion-item>

          <ion-item class="item-accordion item-text-wrap" ng-show="isPlaceShown(place)" id="offlineStyleOff">

            <p><b>Name:</b> {{place.name}}</p>
            <p><b>Address:</b> {{place.address}}</p>
            <p><b>Note:</b> {{place.notes}}</p>

          </ion-item>

        </div>
      </div>
    </div>
  </ion-list>
</ion-content>


